<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/bulma-carousel.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/bulma-carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>GrantMan</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
  </head>

  <body style="margin-bottom:50px">
    <% include nav %>
    <hr>

    <div class="container">
      <nav class="panel" style="max-width:800px; margin:auto;">
        <p class="panel-heading">
          Projects
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search" id="searchBox">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>
        <p class="panel-tabs" id="tabs">
          <a id="inbox" onclick="updateCategory('inbox')">Inbox</a>
          <a id="completed" onclick="updateCategory('completed')">Completed</a>
          <a id="all" onclick="updateCategory('all')">All</a>
        </p>
        <a class="panel-block panel-element">
          <span class="panel-icon">
            <i class="fas fa-book"></i>
          </span>
          Test
        </a>
      </nav>
    </div>
    <% include footer %>
  </body>

  <script>
    var projects = {
      all: [],
      completed: [],
      inbox: []
    }

    projects.all = <%- JSON.stringify(projects) %>

    //this looks awful
    projects.all.forEach((project) => {
      if(project.author.school == "<%- user.school %>"){
        if(project.status.statusMessage == "Project approved"){
          projects.completed.push(project)

        }
        else if("<%- user.type %>" == "Researcher" && project.author.name == "<%- user.name %>"){
          if(project.status.statusMessage == "Researcher amendment" || project.status.statusMessage == "Researcher approval"){
            projects.inbox.push(project)
          }
        }
        else if("<%- user.type %>" == "RIS" && project.status.statusMessage == "RIS approval"){
          projects.inbox.push(project)

        }
        else if("<%- user.type %>" == "Associate Dean" && project.status.statusMessage=="Associate Dean approval") {
          projects.inbox.push(project)

        }
        else if("<%- user.type %>" == "Dean" && project.status.statusMessage=="Dean approval"){
          projects.inbox.push(project)

        }
      }
    })

    //console.log(JSON.stringify(projects))

    function search(searchString, tabClick){
      if(!tabClick){
        if($('#search').length == 0 ){
          $('#tabs').append('<a id="search" onclick="updateCategory(\'search\')">Search</a>');
          updateCategory('search')
        }else{
          updateCategory('search');
        }
      };

      $('.panel-element').remove()

      var results = [];

      function checkString(results, project){
        if(project.name.toLowerCase().includes(searchString.toLowerCase())){
          results.push(project);
        }
      }

      for(var key in projects){
        projects[all].forEach(project => checkString(results,project))
      }

      results.forEach(function (project){
        var html = [
          "<a class='panel-block panel-element' href='/project/"+project.projectId+"/'>",
          "<span class='panel-icon'>",
          "<i class='fas fa-book'></i>",
          "</span>",
          "<p style='text-align:left;width:60%'>"+project.title+"</p>",
          "<p style='text-align:right;width:40%'>"+project.status.statusMessage+" required</p>",
          "</a>"].join("");
        $('.panel').append(html);
      });
    }

    $('#searchBox').keyup(function(){
      search($('#searchBox')[0].value);
    })
  </script>
  <script src="js/panel.js"></script>
</html>
