<%
  //figure out if the user is a subscriber
  var subscriber = false;

  console.log(project.subscribers)
  project.subscribers.forEach(subscribee => {
    console.log(subscribee._id)
    console.log(user._id)
    if(subscribee._id.toHexString() == user._id.toHexString()){ subscriber = true; }
  })
  console.log(subscriber)
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma-carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/project.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="/js/bulma-carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>GrantMan</title>
    <link rel="icon" type="/image/png" href="img/favicon.png">
  </head>

  <body style="margin-bottom:60px;">
  <% include nav %><hr>
    <div id="help-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Help</p>
          <button onclick="closemodal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
         <b>Viewing Projects</b> <br>
         This is the project view page. The project's title, author and description are shown at the top of the page. <br>
         The history of the project is also shown, displaying any status changes made to the project. <br> <br>

         <b>Subscribing/Unsubscribing to a Project</b> <br>
         To Subscribe to a project, simply click the 'Subscribe' button. <br>
         If you are already subscribed and wish to unsubscribe, simply click the 'Unsubscribe' button. <br> <br>

         <b>Downloading a Project</b> <br>
         To download a project, simply use the buttons listed under the 'Downloads' header <br> <br>

         <b>Approving/Rejecting a Project</b><br>
         If you have sufficient privileges, you will be able to approve or reject a project. <br>
         To do so, simply leave a comment in the comment box, upload any relevant files under the 'Upload' heading and click 'Approve' or 'Reject' <br>
        </section>
      </div>
    </div>

  <div class="container">
    <div class="tile is-ancestor" style="padding:10px">
    <div class="tile is-parent is-9">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-four-fifths">
            <p class="title"><%= project.title %></p>
            <p class="subtitle"><%= project.author.name %></p>
          </div>

          <% if(!subscriber){ %>
          <form method="post" action="/project/<%- project.projectId %>/subscribe" id="subscribe"></form>
          <div class="column">
            <p style="float:right;"><a onclick="document.getElementById('subscribe').submit();" class="button hover-success" style="margin-left:10px">
              <span class="icon is-small">
                <i class="fas fa-envelope"></i>
              </span>
              <span>Subscribe</span>
            </a></p>
          </div>
          <% } else { %>
          <form method="post" action="/project/<%- project.projectId %>/unsubscribe" id="unsubscribe"></form>
          <div class="column">
            <p style="float:right;"><a onclick="document.getElementById('unsubscribe').submit();" class="button hover-danger" style="margin-left:10px">
              <span class="icon is-small">
                <i class="fas fa-envelope"></i>
              </span>
              <span>Unsubscribe</span>
            </a></p>
          </div>
          <% } %>
        </div>
        <p><%= project.description %></p>
      </div>
    </div>
    <div class="tile is-parent is-3">
      <div class="tile is-child box">
        <p class="title">Downloads</p>
        <div class ="select" style="float:right">
          <select id="versionID" onchange="updateDownloadLink()" >
            <% for(var i = versions-1; i > 0; i--){%>
              <option value="<%- i %>"> V<%- i %> </option>
            <%  }%>
          </select>
        </div>
        <p style="margin-bottom:20px"><a id="spreadsheetDownload" href="/files/<%-project._id%>/spreadsheet.xls" class="button is-success" style="margin-left:10px">
          <span class="icon is-small">
            <i class="fas fa-download"></i>
          </span>
          <span>Spreadsheet</span>
        </a></p>
        <p><a id="briefDownload" href="/files/<%-project._id%>/brief.doc"class="button is-success"  style="margin-left:10px">
          <span class="icon is-small">
            <i class="fas fa-download"></i>
          </span>
          <span>Project Brief</span>
        </a></p>
      </div>
    </div>
    </div>

    <div style="padding:10px;">
    <h3 class="title is-4">History</h3><hr>

    <% project.statuses.forEach(function(status){ %>
      <p>A <font color="red"><%= status.editor.type %> (<%= status.editor.name %>)</font>
        set the status to <font color="blue">'<%= status.statusMessage %>'</font>
        at <font color="green"><%= status.timestamp %></font></p>
      <% if(status.comment && status.comment.length!=0){ %>
      <p><i><%= status.comment %></i></p>
      <% } %>
      <hr>
    <% }); %>
    </div>

    <% if(
      ((user.type=="RIS" && project.status.statusMessage=="RIS approval")||

      ((user.type=="Researcher" && (project.status.statusMessage == "Researcher amendment" ||
            project.status.statusMessage == "Researcher approval"))&&
            user.staffID == project.author.staffID)||

      (user.type=="Dean" && project.status.statusMessage == "Dean approval")||

      (user.type=="Associate Dean" && project.status.statusMessage== "Associate Dean approval"))&&

      (user.school == project.author.school)
    ){%>

    <form encType="multipart/form-data" id="statusForm" action="status" method="post">

    <div id="modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Confirm Password</p>
          <button onclick="closePassModal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
              <input class="input" name="password" type="password" placeholder="Enter your Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Confirm</button>
          <button type="button" class="button" onclick="closePassModal()">Cancel</button>
        </footer>
      </div>
    </div>


    <div style="padding:10px" class="columns">
      <div class="column is-three-quarter">
        <label class="label">Comment Box</label>
        <div class="control" style="margin-bottom: 10px;">
          <textarea class="textarea" name="comment" placeholder="Leave a comment"></textarea>
        </div>
        <a onclick="showmodal('accept')" class="button is-success">
          <span class="icon is-small">
            <i class="fas fa-thumbs-up"></i>
          </span>
          <span>Approve</span>
        </a>
        <% if(project.status.statusMessage != "Researcher amendment"){ %>
        <a onclick="showmodal('reject')" class="button is-danger">
          <span class="icon is-small">
            <i class="fas fa-thumbs-down"></i>
          </span>
          <span>Reject</span>
        </a>
        <% } %>

      </div>

      <% if(project.status.statusMessage == "RIS approval" ||
            project.status.statusMessage == "Researcher amendment"){ %>
      <div class="column is-one-quarter">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-12">
            <div class="tile is-child box">
              <p class="title">Upload</p>
              <div class="file has-name" style="margin-bottom:10px;">
                <label class="file-label">
                  <input class="file-input" type="file" name="spreadsheet" id="spreadsheet" accept=".xls,.xlsx">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label" id="spreadsheetlabel">
                      Choose a spreadsheet
                    </span>
                  </span>
                </label>
              </div>
              <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="brief" id="brief" accept=".doc,.docx">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label" id="brieflabel">
                      Choose a brief
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <input type="hidden" name="action" value="" id="action"></input>
    <input type="hidden" name="previousMessage" value="<%-project.status.statusMessage%>">
    </form>
    <script>
    var brief = document.getElementById("brief");
    var spreadsheet = document.getElementById("spreadsheet");
    brief.onchange = function(){
      if(brief.files.length > 0){
        document.getElementById('brieflabel').innerHTML = brief.files[0].name;
      }
    };
    spreadsheet.onchange = function(){
      if(spreadsheet.files.length > 0){
        document.getElementById('spreadsheetlabel').innerHTML = spreadsheet.files[0].name;
      }
    };
    </script>

  <% } %>
  </div>

  <% include footer %>
  <script>
  updateDownloadLink();
  var postURL = window.location.href
  if(postURL.endsWith('/')){
    postURL.substring(0, postURL.length - 1);
  }
  postURL += "/status"
  console.log(postURL)

  $('#statusForm').attr('action',postURL);

  function showmodal(action){
    $('#action').val(action);
    $('#modal').addClass('is-active');
  }

  function updateDownloadLink(){
    var downloadLink = "/files/<%-project._id%>/" + $('#versionID').val();
    $('#spreadsheetDownload').attr("href", downloadLink + "/spreadsheet.xls");
    $('#briefDownload').attr("href", downloadLink + "/brief.doc");
  }

  function closePassModal(){
    $('#modal').removeClass('is-active');
  }
  </script>
  </body>
</html>
